/* TYPEFACE SETUP */

/* Webfont: Reforma 1918 Blanca */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-Blanca.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-Blanca.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-Blanca.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma 1918 BlancaItalica */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-BlancaItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-BlancaItalica.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-BlancaItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 Gris */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-Gris.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-Gris.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-Gris.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 GrisItalica */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-GrisItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-GrisItalica.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-GrisItalica.ttf') format('truetype');   /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 Negra */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-Negra.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-Negra.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-Negra.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 NegraItalica */@font-face {
    font-family: 'Reforma1969';
    src: url('../fonts/Reforma1969-NegraItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('../fonts/Reforma1969-NegraItalica.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Reforma1969-NegraItalica.ttf') format('truetype');  /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* GENERAL BOOK CSS */

body {
    font-family: Reforma1969;
    text-align: justify;
    line-height: 135%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3.5pt;
    line-height: 130%;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2.5pt;
    line-height: 130%;
    font-weight: 300;
}

h3 {
    font-style: italic;
    font-weight: 500;
}

p {
    text-indent: 1.25em;
    margin: 0;
    widows: 2;
    orphans: 2;
}

a {
    color: darkred;
    text-decoration-line: none;
}

blockquote {
    text-indent: 0pt;
}