/* TYPEFACE SETUP */

/* Webfont: Reforma 1918 Blanca */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-Blanca.woff2') format('woff2'),
		 url('../fonts/Reforma1969-Blanca.woff') format('woff'),
		 url('../fonts/Reforma1969-Blanca.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: Reforma 1918 BlancaItalica */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-BlancaItalica.woff2') format('woff2'),
		 url('../fonts/Reforma1969-BlancaItalica.woff') format('woff'),
		 url('../fonts/Reforma1969-BlancaItalica.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 Gris */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-Gris.woff2') format('woff2'),
		 url('../fonts/Reforma1969-Gris.woff') format('woff'),
		 url('../fonts/Reforma1969-Gris.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 GrisItalica */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-GrisItalica.woff2') format('woff2'),
		 url('../fonts/Reforma1969-GrisItalica.woff') format('woff'),
		 url('../fonts/Reforma1969-GrisItalica.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 Negra */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-Negra.woff2') format('woff2'),
		 url('../fonts/Reforma1969-Negra.woff') format('woff'),
		 url('../fonts/Reforma1969-Negra.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1969 NegraItalica */@font-face {
	font-family: 'Reforma1969';
	src: url('../fonts/Reforma1969-NegraItalica.woff2') format('woff2'),
		 url('../fonts/Reforma1969-NegraItalica.woff') format('woff'),
		 url('../fonts/Reforma1969-NegraItalica.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/* GENERAL BOOK STYLING */

body {
	font-family: Reforma1969;
	text-align: justify;
	line-height: 155%;
}

@media (max-width: 1400px) {
	body {
		max-width: 35em;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 10%;
	}
}

@media (min-width: 800px) and (max-width: 1400px) {
	body {
		max-width: 35em;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 10%;
	}
}

@media (min-width: 400px) and (max-width: 800px) {
	body {
		max-width: 65vw;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 10%;
	}
}

@media (max-width: 400px) {
	body {
		max-width: 95vw;
		padding-top: 5%;
		padding-bottom: 5%;
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 3.5pt;
	line-height: 130%;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	font-weight: 300;
	font-style: italic;
	font-variant-numeric: lining-nums;
}

h1.bookpart::first-letter {
	background-color: white;
	color: white;
}

h2 {
	font-size: 1.5em;
	line-height: 130%;
	font-weight: 300;
	font-variant-numeric: lining-nums;
}

h2 + p {
	text-indent: 0em;
}

h3 {
	font-style: italic;
	font-weight: 500;
}

h4 {
	font-size:100%;
	font-weight:500;
}

p {
	text-indent: 1.25em;
	margin: 0;
	widows: 2;
	orphans: 2;
}

a {
	color: darkred;
	text-decoration-line: none;
}

blockquote + p {
	text-indent: 0em;
}

.dedication {
	margin-top: 2cm;
	margin-bottom: 1cm;
	text-align: center;
	font-size: 120%;
}

.copyinfo {
	font-family:monospace;
	margin-top: 2cm;
	margin-bottom: 1cm;
	font-size: 95%;
}

.author {
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 2cm;
	margin-bottom: 1cm;
}

.publisher {
	visibility: hidden;
}

.rights {
	visibility: hidden;
}

.title {
	font-style: normal;
}
